{% extends "cabinet/base.html" %}
{% load i18n core_tags %}
{% block content %}
<a class="back-link" href="{% url 'accounts:profile' %}">{% icon "arrow-left" 16 %} {% trans "Profile" %}</a>
<div class="page-head"><div><h1>{% trans "Change password" %}</h1><p>{% trans "After changing the password you will stay logged in on this device." %}</p></div></div>
<form class="card" method="post" novalidate style="max-width:560px">
  {% csrf_token %}
  <div class="card-body stack">
    {% include "partials/form_errors.html" %}
    {% for field in form %}{% include "partials/field.html" with wide=1 %}{% endfor %}
  </div>
  <div class="card-foot"><button type="submit" class="btn btn-primary">{% icon "key" 16 %} {% trans "Change password" %}</button></div>
</form>
{% endblock %}
